In [37]:
import pandas as pd
import json

In [38]:
cp_links_dict = {}
with open("Top250Companies.txt","r") as f:
    text = f.read()

c250 = text.split("\n")
c250_i = {}

for i,x in enumerate(c250):
    c250_i[x] = i

c250_i

{'adobe': 0,
 'amazon': 1,
 'ebay': 2,
 'flipkart': 3,
 'microsoft': 4,
 'bloomberg': 5,
 'nutanix': 6,
 'google': 7,
 'databricks': 8,
 'facebook': 9,
 'linkedin': 10,
 'reddit': 11,
 'samsung': 12,
 'apple': 13,
 'cruise-automation': 14,
 'doordash': 15,
 'oracle': 16,
 'pinterest': 17,
 'snapchat': 18,
 'uber': 19,
 'atlassian': 20,
 'flexport': 21,
 'lyft': 22,
 'netflix': 23,
 'square': 24,
 'sumologic': 25,
 'twitter': 26,
 'vmware': 27,
 'zillow': 28,
 'asana': 29,
 'bytedance': 30,
 'capital-one': 31,
 'goldman-sachs': 32,
 'mathworks': 33,
 'salesforce': 34,
 'sap': 35,
 'tripadvisor': 36,
 'visa': 37,
 'yahoo': 38,
 'yandex': 39,
 'expedia': 40,
 'twilio': 41,
 'paypal': 42,
 'thumbtack': 43,
 'wish': 44,
 'alibaba': 45,
 'box': 46,
 'citadel': 47,
 'quora': 48,
 'servicenow': 49,
 'docusign': 50,
 'two-sigma': 51,
 'baidu': 52,
 'barclays': 53,
 'cisco': 54,
 'huawei': 55,
 'dataminr': 56,
 'factset': 57,
 'national-instruments': 58,
 'iit-bombay': 59,
 'hulu': 60,
 'coupang': 61,
 'intuit': 62,
 'quantcast': 63,
 'spotify': 64,
 'yelp': 65,
 'qualtrics': 66,
 'tesla': 67,
 'twitch': 68,
 'airbnb': 69,
 'robinhood': 70,
 'inmobi': 71,
 'pocket-gems': 72,
 'pure-storage': 73,
 'akuna-capital': 74,
 'nvidia': 75,
 'audible': 76,
 'rubrik': 77,
 'houzz': 78,
 'indeed': 79,
 'karat': 80,
 'wayfair': 81,
 'coursera': 82,
 'yatra': 83,
 'triplebyte': 84,
 'affirm': 85,
 'palantir-technologies': 86,
 'github': 87,
 'yugabyte': 88,
 'poynt': 89,
 'valve': 90,
 'roblox': 91,
 'dropbox': 92,
 'ixl': 93,
 'godaddy': 94,
 'tencent': 95,
 'gilt-groupe': 96,
 'cloudera': 97,
 'splunk': 98,
 'cohesity': 99,
 'postmates': 100,
 'zulily': 101,
 'drawbridge': 102,
 'epic-systems': 103,
 'quip': 104,
 'liveramp': 105,
 'appdynamics': 106,
 'riot-games': 107,
 'bookingcom': 108,
 'electronic-arts': 109,
 'groupon': 110,
 'leap-motion': 111,
 'rackspace': 112,
 'maq-software': 113,
 'garena': 114,
 'netease': 115,
 'redfin': 116,
 'aetion': 117,
 'didi': 118,
 'blackrock': 119,
 'zappos': 120,
 'alation': 121,
 'zoho': 122,
 'opendoor': 123,
 'zenefits': 124,
 'ibm': 125,
 'citrix': 126,
 'evernote': 127,
 'grab': 128,
 'intel': 129,
 'tableau': 130,
 'arista-networks': 131,
 'dell': 132,
 'qualcomm': 133,
 'works-applications': 134,
 'morgan-stanley': 135,
 'hbo': 136,
 'united-health-group': 137,
 'de-shaw': 138,
 'f5-networks': 139,
 'accolite': 140,
 'airtel': 141,
 'american-express': 142,
 'bloomreach': 143,
 'booking': 144,
 'bytedancetoutiao': 145,
 'c3-iot': 146,
 'c3ai': 147,
 'clutter': 148,
 'deliveryhero': 149,
 'gsn-games': 150,
 'honey': 151,
 'infosys': 152,
 'jp-morgan-chase': 153,
 'mckinsey': 154,
 'medianet': 155,
 'microstrategy': 156,
 'phonepe': 157,
 'point72': 158,
 'poshmark': 159,
 'pramp': 160,
 'snapdeal': 161,
 'tandemg': 162,
 'traveloka': 163,
 'uipath': 164,
 'walmart': 165,
 'zalando': 166,
 'limebike': 167,
 'deutsche-bank': 168,
 'ponyai': 169,
 'forusall': 170,
 'jump-trading': 171,
 'affinity': 172,
 'akuna': 173,
 'codenation': 174,
 'hotstar': 175,
 'jingchi': 176,
 'kakao': 177,
 'machine-zone': 178,
 'machinezone': 179,
 'meituan': 180,
 'sapient': 181,
 'turvo': 182,
 'arista': 183,
 'akamai': 184,
 'fidessa': 185,
 'radius': 186,
 'ge-digital': 187,
 'helix': 188,
 'symantec': 189,
 'fallible': 190,
 'blizzard': 191,
 'netsuite': 192,
 'hrt': 193,
 'virtu': 194,
 'palantir': 195,
 'zscaler': 196,
 'paytm': 197,
 'druva': 198,
 'emc': 199,
 'jane-street': 200,
 'arcesium': 201,
 'tiktok': 202,
 'mindtickle': 203,
 'shopee': 204,
 'walmart-global-tech': 205,
 'zoom': 206,
 'swiggy': 207,
 'activision': 208,
 'athenahealth': 209,
 'bolt': 210,
 'payu': 211,
 'makemytrip': 212,
 'dunzo': 213,
 'tcs': 214,
 'sprinklr': 215,
 'tusimple': 216,
 'accenture': 217,
 'optum': 218,
 'tiaa': 219,
 'moengage': 220,
 'rakuten': 221,
 'honeywell': 222,
 'softwire': 223,
 'virtu-financial': 224,
 'duolingo': 225,
 'allincall': 226,
 'edabit': 227,
 'cashfree': 228,
 'toptal': 229,
 'apt-portfolio': 230,
 'jp-morgan': 231,
 'peak6': 232,
 'mercari': 233,
 'dji': 234,
 'rupeek': 235,
 'directi': 236,
 'nuro': 237,
 'drw': 238,
 'sony': 239,
 'ot': 240,
 'tiger-analytics': 241,
 'persistent-systems': 242,
 'imc': 243,
 'wealthfront': 244,
 'mindtree': 245,
 'fpt': 246,
 'zeta-suite': 247,
 'cognizant': 248,
 'canonical': 249,
 'instacart': 250,
 'zopsmart': 251,
 'commvault': 252,
 'info-edge': 253,
 'razorpay': 254,
 'jeavio': 255,
 't-system': 256,
 'zomato': 257}

In [16]:
with open("Top250CompanyBlindLinks_final_noDuplicates.json", 'r', encoding='utf-8') as file:
    t2 = json.load(file)

with open("Top250CompanyLCLinks.json", 'r', encoding='utf-8') as file:
    t1 = json.load(file)

In [17]:
def expandJsonToRows(t):
    mjson = []

    for key, values in t.items():
        mjsonk = key.replace(" ","-")

        if "SD" in values:
            for sd in values["SD"]:
                jsonObj = {
                    "Title": sd["Title"],
                    "DiscussionLink": sd["Link"],
                    "CompanyName": mjsonk,
                    "Views": sd["Views"],
                    "Type": "SD",
                }

                if "Description" in sd:
                    jsonObj["Description"] = sd["Description"]

                if "Likes" in sd:
                    jsonObj["Likes"] = sd["Likes"]

                if "Comments" in sd:
                    jsonObj["Comments"] = sd["Comments"]

                if "Upvotes" in sd:
                    jsonObj["Upvotes"] = sd["Upvotes"]

                if "Tags" in sd:
                    jsonObj["Tags"] = sd["Tags"]

                mjson.append(jsonObj)

        if "IE" in values:
            for ie in values["IE"]:
                jsonObj = {
                    "Title": ie["Title"],
                    "DiscussionLink": ie["Link"],
                    "CompanyName": mjsonk,
                    "Views": ie["Views"],
                    "Type": "IE",
                }

                if "Description" in ie:
                    jsonObj["Description"] = ie["Description"]

                if "Likes" in ie:
                    jsonObj["Likes"] = ie["Likes"]

                if "Comments" in ie:
                    jsonObj["Comments"] = ie["Comments"]

                if "Upvotes" in ie:
                    jsonObj["Upvotes"] = ie["Upvotes"]

                if "Tags" in ie:
                    jsonObj["Tags"] = ie["Tags"]

                mjson.append(jsonObj)

        if "IQ" in values:
            for iq in values["IQ"]:
                jsonObj = {
                    "Title": iq["Title"],
                    "DiscussionLink": iq["Link"],
                    "CompanyName": mjsonk,
                    "Views": iq["Views"],
                    "Upvotes": iq["Upvotes"],
                    "Tags": iq["Tags"],
                    "Type": "IQ",
                }
                mjson.append(jsonObj)

        if "C" in values:
            for c in values["C"]:
                jsonObj = {
                    "Title": c["Title"],
                    "DiscussionLink": c["Link"],
                    "CompanyName": mjsonk,
                    "Description": c["Description"],
                    "Views": c["Views"],
                    "Likes": c["Likes"],
                    "Comments": c["Comments"],
                    "Type": "C",
                }
                mjson.append(jsonObj)

    return mjson

In [18]:
len(expandJsonToRows(t1))

7058

In [19]:
len(expandJsonToRows(t2))

1764

In [25]:
df = pd.DataFrame(expandJsonToRows(t1))
df.drop_duplicates(inplace=True)
df

,Title,DiscussionLink,CompanyName,Views,Type,Upvotes,Tags
0,Adobe | Computer Scientist - 1 | Noida,https://leetcode.com/discuss/compensation/9999...,adobe,6.6K,SD,57,adobe
1,Adobe | MTS | Bangalore | 2023 Grad,https://leetcode.com/discuss/compensation/3267...,adobe,7.6K,SD,34,2023|2023 grad|adobe
2,Adobe | MTS,https://leetcode.com/discuss/compensation/1376...,adobe,11.1K,SD,33,adobe|bangalore|bengaluru
3,Adobe | CS1 | Noida | Accepted,https://leetcode.com/discuss/compensation/3272...,adobe,7.4K,SD,29,adobe|computer scientist|cs1
4,Adobe | Computer Scientist II | Bangalore,https://leetcode.com/discuss/compensation/4929...,adobe,10.6K,SD,26,adobe|bangalore
...,...,...,...,...,...,...,...
7051,OA || Zomato || What went wrong :(,https://leetcode.com/discuss/interview-questio...,zomato,1.8K,IQ,16,2023 grad|c++|zomato
7052,zomato hard need python code,https://leetcode.com/discuss/interview-questio...,zomato,141,IQ,1,zomato-india
7053,Oa zomato /2022/,https://leetcode.com/discuss/interview-questio...,zomato,699,IQ,2,
7054,Zomato On Campus Interview Experience 2024,https://leetcode.com/discuss/interview-questio...,zomato,383,IQ,9,interview|sde|zomato
7056,Zomato OA || 2023 || Help,https://leetcode.com/discuss/interview-questio...,zomato,387,IQ,0,zomato

In [26]:
df.columns

Index(['Title', 'DiscussionLink', 'CompanyName', 'Views', 'Type', 'Upvotes',
       'Tags'],
      dtype='object')

In [27]:
df["CompanyId"] = df["CompanyName"].apply(lambda x: c250_i[x])
df = df[['Title', 'DiscussionLink', 'Views', 'Type', 'Upvotes', 'Tags', 'CompanyId']]
df

,Title,DiscussionLink,Views,Type,Upvotes,Tags,CompanyId
0,Adobe | Computer Scientist - 1 | Noida,https://leetcode.com/discuss/compensation/9999...,6.6K,SD,57,adobe,0
1,Adobe | MTS | Bangalore | 2023 Grad,https://leetcode.com/discuss/compensation/3267...,7.6K,SD,34,2023|2023 grad|adobe,0
2,Adobe | MTS,https://leetcode.com/discuss/compensation/1376...,11.1K,SD,33,adobe|bangalore|bengaluru,0
3,Adobe | CS1 | Noida | Accepted,https://leetcode.com/discuss/compensation/3272...,7.4K,SD,29,adobe|computer scientist|cs1,0
4,Adobe | Computer Scientist II | Bangalore,https://leetcode.com/discuss/compensation/4929...,10.6K,SD,26,adobe|bangalore,0
...,...,...,...,...,...,...,...
7051,OA || Zomato || What went wrong :(,https://leetcode.com/discuss/interview-questio...,1.8K,IQ,16,2023 grad|c++|zomato,257
7052,zomato hard need python code,https://leetcode.com/discuss/interview-questio...,141,IQ,1,zomato-india,257
7053,Oa zomato /2022/,https://leetcode.com/discuss/interview-questio...,699,IQ,2,,257
7054,Zomato On Campus Interview Experience 2024,https://leetcode.com/discuss/interview-questio...,383,IQ,9,interview|sde|zomato,257
7056,Zomato OA || 2023 || Help,https://leetcode.com/discuss/interview-questio...,387,IQ,0,zomato,257

In [28]:
df.to_csv("./Links/LC_Links.csv", index=False)

In [29]:
df1 = pd.DataFrame(expandJsonToRows(t2))
df1.drop_duplicates(inplace=True)
df1

,Title,DiscussionLink,CompanyName,Views,Type,Description,Likes,Comments
0,Adobe India PM Salary,https://www.teamblind.com/post/Adobe-India-PM-...,adobe,"5,704",SD,"Community, Got a call from Adobe India HR. wha...",10,14
1,Adobe cs2 India salary,https://www.teamblind.com/post/Adobe-cs2-India...,adobe,"3,761",SD,RC contacted for this role called computer sci...,4,11
2,Adobe India Computer scientist salary,https://www.teamblind.com/post/Adobe-India-Com...,adobe,"3,907",SD,"With 6 yoe, what designation one can get? Comp...",,21
3,Adobe India Engineering Manager Salary,https://www.teamblind.com/post/Adobe-India-Eng...,adobe,"1,787",SD,I'm applying for Engineering Manager role in B...,1,9
4,Adobe India CS2 Salary evaluation,https://www.teamblind.com/post/Adobe-India-CS2...,adobe,"1,488",SD,"Hi guys , I got a offer from Adobe India for C...",3,42
...,...,...,...,...,...,...,...,...
1759,Razorpay feedback?,https://www.teamblind.com/post/Razorpay-feedba...,razorpay,462,C,Got a call from Razorpay for PM 2 role. I’m lo...,2,8
1760,Razorpay Culture & Benefits,https://www.teamblind.com/post/Razorpay-Cultur...,razorpay,"1,488",C,"Hi Razors, I wanted to check what are all the ...",6,19
1761,Zomato or Walmart for New Grad India?,https://www.teamblind.com/post/Zomato-or-Walma...,zomato,"1,049",SD,"I am 2022 new Grad from India, and am currentl...",1,12
1762,Startup(consultant) or zomato(full-time SDE II),https://www.teamblind.com/post/Startupconsulta...,zomato,259,SD,YOE: 4years I have recently joined my new comp...,2,7
1763,Is Zomato sill the same for their Engineers?,https://www.teamblind.com/post/Is-Zomato-sill-...,zomato,"1,254",C,"I just got an offer from Zomato, and just befo...",2,4

In [30]:
df1.columns

Index(['Title', 'DiscussionLink', 'CompanyName', 'Views', 'Type',
       'Description', 'Likes', 'Comments'],
      dtype='object')

In [31]:
df1["CompanyId"] = df1["CompanyName"].apply(lambda x: c250_i[x])
df1 = df1[['Title', 'DiscussionLink', 'Views', 'Type', 'Description', 'Likes', 'Comments', 'CompanyId']]
df1

,Title,DiscussionLink,Views,Type,Description,Likes,Comments,CompanyId
0,Adobe India PM Salary,https://www.teamblind.com/post/Adobe-India-PM-...,"5,704",SD,"Community, Got a call from Adobe India HR. wha...",10,14,0
1,Adobe cs2 India salary,https://www.teamblind.com/post/Adobe-cs2-India...,"3,761",SD,RC contacted for this role called computer sci...,4,11,0
2,Adobe India Computer scientist salary,https://www.teamblind.com/post/Adobe-India-Com...,"3,907",SD,"With 6 yoe, what designation one can get? Comp...",,21,0
3,Adobe India Engineering Manager Salary,https://www.teamblind.com/post/Adobe-India-Eng...,"1,787",SD,I'm applying for Engineering Manager role in B...,1,9,0
4,Adobe India CS2 Salary evaluation,https://www.teamblind.com/post/Adobe-India-CS2...,"1,488",SD,"Hi guys , I got a offer from Adobe India for C...",3,42,0
...,...,...,...,...,...,...,...,...
1759,Razorpay feedback?,https://www.teamblind.com/post/Razorpay-feedba...,462,C,Got a call from Razorpay for PM 2 role. I’m lo...,2,8,254
1760,Razorpay Culture & Benefits,https://www.teamblind.com/post/Razorpay-Cultur...,"1,488",C,"Hi Razors, I wanted to check what are all the ...",6,19,254
1761,Zomato or Walmart for New Grad India?,https://www.teamblind.com/post/Zomato-or-Walma...,"1,049",SD,"I am 2022 new Grad from India, and am currentl...",1,12,257
1762,Startup(consultant) or zomato(full-time SDE II),https://www.teamblind.com/post/Startupconsulta...,259,SD,YOE: 4years I have recently joined my new comp...,2,7,257
1763,Is Zomato sill the same for their Engineers?,https://www.teamblind.com/post/Is-Zomato-sill-...,"1,254",C,"I just got an offer from Zomato, and just befo...",2,4,257

In [32]:
df1.to_csv("./Links/Blind_Links.csv", index=False)

In [35]:
cdf = pd.DataFrame(c250, columns=["CompanyName"])
cdf

    CompanyName
0         adobe
1        amazon
2          ebay
3      flipkart
4     microsoft
..          ...
253   info-edge
254    razorpay
255      jeavio
256    t-system
257      zomato

[258 rows x 1 columns]

In [36]:
cdf.to_csv("./Companies/Companies.csv")

In [39]:
liqdf = pd.read_csv("./InterviewQuestionsLC/LCQ_total_solInc_noDuplicates.csv", index_col=False)
liqdf

,Title,Difficulty,DiscussionLink,CompanyName,Solutions,Video,Tag
0,Rotting Oranges,Medium,https://leetcode.com/problems/rotting-oranges/,adobe,[Solution](https://github.com/fishercoder1534/...,NaN,BFS
1,Rotting Oranges,Medium,https://leetcode.com/problems/rotting-oranges/,amazon,[Solution](https://github.com/fishercoder1534/...,NaN,BFS
2,Rotting Oranges,Medium,https://leetcode.com/problems/rotting-oranges/,ebay,[Solution](https://github.com/fishercoder1534/...,NaN,BFS
3,Rotting Oranges,Medium,https://leetcode.com/problems/rotting-oranges/,flipkart,[Solution](https://github.com/fishercoder1534/...,NaN,BFS
4,Rotting Oranges,Medium,https://leetcode.com/problems/rotting-oranges/,microsoft,[Solution](https://github.com/fishercoder1534/...,NaN,BFS
...,...,...,...,...,...,...,...
8651,Two Sum,NaN,https://leetcode.com/problems/two-sum/,zomato,[Java](https://github.com/fishercoder1534/Leet...,[:tv:](https://www.youtube.com/watch?v=kPXOr6p...,HashMap
8652,Implement Trie II (Prefix Tree),NaN,https://leetcode.com/problems/implement-trie-i...,apple,NaN,NaN,NaN
8653,Implement Trie II (Prefix Tree),NaN,https://leetcode.com/problems/implement-trie-i...,docusign,NaN,NaN,NaN
8654,Sqrt(x),NaN,https://leetcode.com/problems/sqrtx/,adobe,NaN,NaN,NaN
8655,"Pow(x, n)",NaN,https://leetcode.com/problems/powx-n/,yahoo,NaN,NaN,NaN

In [40]:
liqdf.columns

Index(['Title', 'Difficulty', 'DiscussionLink', 'CompanyName', 'Solutions',
       'Video', 'Tag'],
      dtype='object')

In [41]:
liqdf["CompanyId"] = liqdf["CompanyName"].apply(lambda x: c250_i[x])
liqdf = liqdf[['Title', 'Difficulty', 'DiscussionLink', 'CompanyId', 'Solutions', 'Video', 'Tag']]
liqdf

,Title,Difficulty,DiscussionLink,CompanyId,Solutions,Video,Tag
0,Rotting Oranges,Medium,https://leetcode.com/problems/rotting-oranges/,0,[Solution](https://github.com/fishercoder1534/...,NaN,BFS
1,Rotting Oranges,Medium,https://leetcode.com/problems/rotting-oranges/,1,[Solution](https://github.com/fishercoder1534/...,NaN,BFS
2,Rotting Oranges,Medium,https://leetcode.com/problems/rotting-oranges/,2,[Solution](https://github.com/fishercoder1534/...,NaN,BFS
3,Rotting Oranges,Medium,https://leetcode.com/problems/rotting-oranges/,3,[Solution](https://github.com/fishercoder1534/...,NaN,BFS
4,Rotting Oranges,Medium,https://leetcode.com/problems/rotting-oranges/,4,[Solution](https://github.com/fishercoder1534/...,NaN,BFS
...,...,...,...,...,...,...,...
8651,Two Sum,NaN,https://leetcode.com/problems/two-sum/,257,[Java](https://github.com/fishercoder1534/Leet...,[:tv:](https://www.youtube.com/watch?v=kPXOr6p...,HashMap
8652,Implement Trie II (Prefix Tree),NaN,https://leetcode.com/problems/implement-trie-i...,13,NaN,NaN,NaN
8653,Implement Trie II (Prefix Tree),NaN,https://leetcode.com/problems/implement-trie-i...,50,NaN,NaN,NaN
8654,Sqrt(x),NaN,https://leetcode.com/problems/sqrtx/,0,NaN,NaN,NaN
8655,"Pow(x, n)",NaN,https://leetcode.com/problems/powx-n/,38,NaN,NaN,NaN

In [42]:
liqdf.to_csv("./InterviewQuestionsLC/LCQ_total_solInc_noDuplicates.csv", index=False)